
/* CSS DIRECTORY
	1. =GLOBAL
	2. =COLORS
	3. =SPACING
	4. =SIDEBAR
	5. =MEDIA QUERIES
*/




/* GLOBAL SETTINGS
   ============================= */

   body {
    background-color: #fafafa;
}

a { text-decoration: none;
    color: black;

    }

nav {
    background-color: #fff !important;
}

li { list-style-type: none; }


.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav li {
    display: inline-block;
    float: none;
}

input[type="submit"] {
    font-family: FontAwesome;
}

.block { display: flex; width: 100%;}

.card {
    
    margin: 0 auto;
    margin-top: 50px;
}


.zero-auto {
    margin: 0 auto !important;
}


.move-5px {
    margin-right: 5px;
}


.none {
    background-color: none;
}



.height-78px {
    height: 78px;
}

.height-293px {
    max-height: 293px;
}




/* COLORS
   ============================= */

   .baby-blue {
    color: #3897f0 !important;
    font-weight: 600;
    line-height: 28px;
}

.white-bg { background: white; }

.lightgrey { color: #999; }

.grey_borderTop { border-top: 1px solid #efefef; }

.border-blue {  border: 1px solid blue; }

.border-green { border: 1px solid green; }

.border-red { border: 1px solid red }





/* SPACING
   ============================= */


.padding-20px {
    padding: 20px;
}

.mgTp-5px { margin-top: 5px;}
.mgTp-15px { margin-top: 15px; }
.mgTp-39px {
    margin-top: 39px;
}
.mgTp-40px { margin-top: 20px; }
.mgTp-50px { margin-top: 50px; }
.mgTp-60px { margin-top: 60px; }
.mgTp-100px { margin-top: 100px;}


.mgRt-5px { margin-right: 5px; }
.mgRt-10px { margin-right: 10px; }
.mgRt-20px { margin-right: 39px; }
.mgRt-100px { margin-right: 100px; }


.mgLf-2px { margin-left: 2px; }
.mgLf-5px { margin-left: 5px; }
.mgLf-10px { margin-left: 10px; }
.mgLf-100px { margin-left: 100px; }

.mgBt-20px { margin-bottom: 20px; }
.mgBt-28px { margin-bottom: 28px; }
.mgBt-100px { margin-bottom: 100px;}



.float_left { float: left; }
.float_right { float: right; }


.post_comments {
    font-size: 10px;
}

.likePost {
    border: none;
    background: none;
    cursor: pointer;
}

.iconContainer i:hover {
    cursor: pointer;
}

.addComment input {
    border: none;
}

.noBorder {
    background: none !important;
}

.nocontent {
    content: none !important;
}

.width50per {
    width: 15vw !important;
}

.max400 {
    max-width: 400px;
}


.width32vw {
    width: 32vw;
}


.width23vw { width: 23vw;}

.width20vw {
    width: 20vw;
}

.width20per { width: 30% !important;}
.width80per { width: 90% !important;}
.width100per { width: 100% !important; }

.signup {
    /* width: 28vw; */
    background: white;
    margin: 0 auto;
}

.border1pxef {
    border: 1px solid #e6e6e6;
}

.signup input {
    border: 1px solid #efefef;
    background: #fafafa;
}

.babyblue {
    color: #3897f0;
}

.signup_intro {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
}

.signup-terms {
    font-size: 14px;
}

.form_button {
    background: #3897f0;
    border-color: #3897f0;
    color: white;
}

.widgets { height: 40px;}


.ifError {color: #ed4956; font-size: 78%;}

.iconNav { justify-content: end; width: 50%;}

.dropdown-toggle::after { content: none;}

.followBtn{
    background: #3897f0 !important;
    border-color: #3897f0 !important;
    color: #fff !important;
}



/*==========  Mobile First Method  ==========*/

.no-pdmg { padding: 0 !important; }

.postContainer { padding: 0; }

/* navbar */

.ig_sprites {
    background: url("./img/sprites/ig_sprite.png");
    display: inline-block;

  }

#ig_logo {
    background-position: 0 -136px;
    height: 35px;
    width: 176px;

}

.navIcons {
    height: 24px;
    width: 24px;
}

#compass {
    background-position: -316px -315px;
}

#heart {
    background-position: -52px -357px;
    margin-top: -10px;
}

#heart2 {
    background-position: -182px -357px;
}

#user {
background-position: -391px -130px;
}

.heartIcon { margin-bottom: 11px;}


#comments {
    background-position: 0 -383px;
}


#save {
    background-position: -312px -357px;
}



    .notification-dropdown {
        
            top: 159% !important;
            left: -99px !important;
            width: 94vw;
            margin-top: 35px;
            padding: 10px;
            box-shadow: 0 0 5px rgba(0,0,0,.0975);
            border: solid 1px #e6e6e6;
        
        }


       


        .dropdown-menu::before {
            border-bottom: 9px solid rgba(0, 0, 0, 0.2);
            border-left: 9px solid rgba(0, 0, 0, 0);
            border-right: 9px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            left: 115px;
            position: absolute;
            top: -8px;
        }
          .dropdown-menu::after {
            border-bottom: 8px solid #FFFFFF;
            border-left: 9px solid rgba(0, 0, 0, 0);
            border-right: 9px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            left: 115px;
            position: absolute;
            top: -7px;
        }



        .notificationImg {
            font-size: 66%;
        }



        .notification-btn button {
            
                font-size: 8px;
               
                    -webkit-appearance: none;
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;
               
                    font-weight: 600;
                    outline: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  
            
            
            }


        .hide-btn {
            background: 0 0;
            border-color: #dbdbdb;
            color: #262626;
        }





/*  Signup */
#iglogo-signuplogin {
    background-position: 0 0;
    height: 52px;
    width: 176px;
}



/* Profile page */

.profilePic_Container { display: flex; justify-content: center; }

.profilePicture { width: 45%;}

.profileInfo { margin-top: 40px; text-align: center;}


.profileOptions {
    font-size: 20% !important;
    margin: 0 auto;
}

.profileOptions button,
.profileOptions a {
    /* width: 60%; */
    font-size: 10px;
    width: 130px;
   
}


.profileUsername {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
}


.userStats {
    font-size: 86%;
}

.border_grey1 {
    border-top: 1px solid #efefef;
}

.borderBt-grey {
    border-bottom: 1px solid #efefef;
}

.border_black1 {
    border-top: 1px solid #262626;
    margin-top: -1px;
}

.pblack-container  {
    margin-bottom: 20px;
}
.p-black { color: #262626; cursor: pointer;}



/* /discover page  */

.discoverContainer img {
    width: 50%;
}

.discoverContainer button,
.discoverContainer p {
    font-size: 80%;
}


/* /tags/:id page */
.tagName {
    margin-top: 100px;
}



.tagName h1 { font-weight: 300}

.topPosts {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 16px;
    text-align: left;
    text-transform: capitalize;
}


.tagImg {
    height: 84%;
}







/* MEDIA QUERIES
   ============================= */

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

        .notification-dropdown {
           
            left: -118px !important;
            width:90vw;
         
        }


.dropdown-menu::before {
 
    left: 140px;

}
  .dropdown-menu::after {

    left: 140px;
 
}
        
      }
  
      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {
     
      }

      @media only screen and (max-width: 574px) {
      

          .profileInfo a {
             margin-top: 10px;
          }


      }
  
  
      @media only screen and (min-width: 650px) {
  
      
      }
  
      /* Small Devices, Tablets */
      @media only screen and (max-width : 766px) {
          .profileOptions {
            margin-top: 20px;
            
            margin-bottom: 20px;
          }

          .profileInfo form {
            margin-top: 20px;
            
            margin-bottom: 20px;
        }

        .insta_nav {
            text-align: center;
        }

        .nav-icons {
            
                margin-top: 20px;
            
            }

        /* .notification-dropdown {
            width: 70vw;
        } */
      
      }


      @media only screen and (min-width: 766px) {
    
      }
  
      
  
      /* Medium Devices, Desktops */
  
      @media only screen and (min-width : 992px) {
  
  
  
      }


  
      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
      
  
         
  }