







<div class="container signup text-center padding-20px mgTp-60px border1pxef">
  <h1>Instagram</h1>
  <div class="row mgTp-40px">
    <div class="col-md-12 mgTp-40px">
      <form action="/login" method="post">
        <div class="form-row">
          <div class="form-group">
            <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="Please Enter Your Username">
          </div>

          <div class="form-group">
            
            <input type="text" name="password" class="form-control" id="inputAddress2" placeholder="Please Enter Your Password">
          </div>


        </div>



        <button type="submit" class="btn form_button">Sign up</button>

        <p class="lightgrey mgTp-40px signup-terms">By signing up, you agree to our Terms & Privacy Policy.</p>
      </form>
    </div>
  </div>
</div>

<div class="container white-bg width20vw mgTp-50px padding-20px border1pxef">
  <div class="row">
    <div class="col-md-12 text-center">Don't have an account? 
      <a href="/signup" class="babyblue">Sign up</a>
    </div>
  </div>
</div>

  <p class="text-center mgTp-15px">Get the app.</p>
<div class="container width20vw mgTp-50px">
  <div class="row">
    <div class="col-md-6">
      <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.signupPage.badge&mt=8">
        <img src="/assets/img/widgets/app_store.png" alt="app store widget" class="widgets">
      </a>
    </div>
    <div class="col-md-6">
      <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26utm_medium%3Dbadge">
        <img src="/assets/img/widgets/google_play.png" alt="google play widget" class="widgets">
      </a>
    </div>
  </div>
</div>