
<form action="/profile/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" placeholder="Upload a photo">
    <input type="text" name="whatever" placeholder="enter whatever">
    <button type="submit">Submit</button>
</form>