
body {
    background-color: #fafafa;
}

a { text-decoration: none;
    tex
    }

nav {
    background-color: #fff !important;
}
.baby-blue {
    color: #3897f0 !important;
    font-weight: 600;
    line-height: 28px;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav li {
    display: inline-block;
    float: none;
}

input[type="submit"] {
    font-family: FontAwesome;
}

.card {
    
    margin: 0 auto;
    margin-top: 50px;
}


.zero-auto {
    margin: 0 auto !important;
}

.move-5px {
    margin-right: 5px;
}

.lightgrey {
    color: #999;
}

.grey_borderTop {
    border-top: 1px solid #efefef;
}

.mgTp-5px { margin-top: 5px;}

.post_comments {
    font-size: 10px;
}



.iconContainer i:hover {
    cursor: pointer;
}

.addComment input {
    border: none;
}