<div class="container  text-center mgTp-60px ">
  
  <div class="row mgTp-40px text-center">
    
    <div class="col-lg-4 col-sm-7 mgTp-40px signup border1pxef padding-20px  ">
       <div class="ig_sprites" id="iglogo-signuplogin"></div>
      <h4 class="lightgrey signup_intro">Sign up to see photos and videos from your friends.</h4>
      <form action="/signup" method="post" class="form-width">
        <div class="form-row">
          <div class="form-group  ">
            <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="inputPassword4" placeholder="Email">
          </div>

            <div class="form-group">
          <input type="text" name="number" class="form-control" id="inputAddress" placeholder="Mobile Number">
        </div>
        <div class="form-group">
          
          <input type="text" name="password" class="form-control" id="inputAddress2" placeholder="Password">
        </div>

        </div>



        <button type="submit" class="btn form_button">Sign up</button>

         
         <p class="lightgrey mgTp-40px signup-terms">By signing up, you agree to our Terms & Privacy Policy.</p>
      </form>
    </div>
  </div>
</div>

<div class="container  mgTp-50px">
  <div class="row">
    <div class="col-md-3 col-sm-6 text-center m-auto white-bg padding-20px border1pxef">Have an account? <a href="/login" class="babyblue">Log in</a></div>
  </div>
</div>

<p class="text-center mgTp-15px">Get the app.</p>


<div class="d-flex justify-content-center">
    <div class="p-2"><a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.signupPage.badge&mt=8"><img src="/assets/img/widgets/app_store.png" alt="app store widget" class="widgets"></a></div>
  <div class="p-2"><a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26utm_medium%3Dbadge"><img src="/assets/img/widgets/google_play.png" alt="google play widget" class="widgets"></a></div>
  
</div>

