




{{!-- HERE --}}

<div class="container  text-center mgTp-60px ">
  
  <div class="row mgTp-40px text-center">
    
    <div class="col-lg-4 col-sm-7 mgTp-40px signup border1pxef padding-20px  ">
          <div class="ig_sprites" id="iglogo-signuplogin"></div>
          <form action="/login" method="post" class="mgTp-15px">
        <div class="form-row">
          <div class="form-group">
            <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="Please Enter Your Username">
          </div>

          <div class="form-group">
            
            <input type="text" name="password" class="form-control" id="inputAddress2" placeholder="Please Enter Your Password">
          </div>


        </div>



        <button type="submit" class="btn form_button">Log in</button>
       
       {{> error}}
      </form>


    </div>


  </div>

  
</div>

<div class="container  mgTp-50px">
  <div class="row">
    <div class="col-md-3 col-sm-6 text-center m-auto white-bg padding-20px border1pxef">Don't have an account? 
      <a href="/signup" class="babyblue">Sign up</a></div>
  </div>
</div>

<p class="text-center mgTp-15px">Get the app.</p>


<div class="d-flex justify-content-center">
    <div class="p-2"><a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.signupPage.badge&mt=8"><img src="/assets/img/widgets/app_store.png" alt="app store widget" class="widgets"></a></div>
  <div class="p-2"><a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26utm_medium%3Dbadge"><img src="/assets/img/widgets/google_play.png" alt="google play widget" class="widgets"></a></div>
  
</div>


